@model IEnumerable<SliderModel>
@{
    ViewData["title"] = "Slider Listed";
}

<h3>List Slider</h3>
<a asp-area="Admin" asp-action="Create" asp-controller="Slider">Add Slider</a>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Slider Name</th>
            <th scope="col">Slider Description</th>
            <th scope="col">Slider Image</th>
            <th scope="col">Slider Status</th>
            <th scope="col">Slider Manager</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@Html.Raw(@item.Description)</td>
                <td><img src="~/media/sliders/@item.Image" width="400px" height="200px" /></td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="text text-success">Hiển thị</span>
                    }
                    else
                    {
                        <span class="text text-danger">ẩn</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Slider" asp-route-Id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Delete" asp-controller="Slider" asp-route-Id="@item.Id" class="btn btn-danger btn-sm confirmDeletion">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

