@model IEnumerable<OrderDetails>
@{
    ViewData["title"] = "Order Details";
    decimal total = 0;
    decimal subtotal = 0;
}

<h3>List order</h3>

<table class="table" id="detail_order">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Order Code</th>
            <th scope="col">User Name</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">SubTotal</th>
            <th scope="col">Order Date</th>
            <th scope="col">Order Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            subtotal = item.Quantity * item.Price;
            total += subtotal;
            <tr>
                <input type="hidden" asp-for="@item.OrderCode" class="getId"/>
                <td>@item.Id</td>
                <td>@item.OrderCode</td>
                <td>@item.UserName</td>
                <td>@item.Product.Name</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
                <td>@subtotal.ToString("C")</td>
                @* <td>@item.UserName</td>
                <td>@item.DateTime</td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="text text-success">Đơn hàng mới</span>
                    }
                    else
                    {
                        <span class="text text-danger">Đơn hàng thành công</span>
                    }
                </td> *@
            </tr>
        }
        <tr>
            <th colspan="5">Total: </th>
            <td>@total.ToString("C")</td>
            <td>
                <select class="form-control select-update-order">
                    <option value="1">Đơn hàng mới</option>
                    <option value="2">Đã xử lí</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>
