@* @model IEnumerable<AppUserModel> *@
@{
    ViewData["title"] = "User Listed";
}

<h3>List user</h3>
<a asp-area="Admin" asp-action="Create" asp-controller="User">Add User</a>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
            <th scope="col">PasswordHash</th>
            <th scope="col">Phone</th>
            <th scope="col">RoleId</th>
            <th scope="col">Role Manager</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userWithRoles in Model)
        {
            <tr>
                <th>@userWithRoles.User.Id</th>
                <th>@userWithRoles.User.UserName</th>
                <td>@userWithRoles.User.Email</td>
                <td>@userWithRoles.User.PasswordHash</td>
                <td>@userWithRoles.User.PhoneNumber</td>
                <td>@userWithRoles.RoleName</td>
                @* <td>
                    @if (item.Status == 1)
                    {
                        <span class="text text-success">Hiển thị</span>
                    }
                    else
                    {
                        <span class="text text-danger">ẩn</span>
                    }
                </td> *@
                <td>
                    <a asp-action="Edit" asp-controller="User" asp-route-Id="@userWithRoles.User.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Delete" asp-controller="User" asp-route-Id="@userWithRoles.User.Id" class="btn btn-danger btn-sm confirmDeletion">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

